.footer {
 background-color: rgb(37, 77, 55);  color: white;
  text-align: center;
  padding: 5rem 1rem;
  margin-top: 3rem;
}

.footer-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.footer-links a:hover {
  color: black;
}
