.navbar {
  padding: 1rem 2rem;
  background-color: rgb(77, 77, 97);
  position: sticky;
  color: rgb(14, 12, 12);
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #f1e8e8;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: red;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 1.8rem;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background-color: rgb(50, 50, 121);
    width: 100%;
    padding: 1rem 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
